.info-button{
    position: relative;
    top: 0;
    right: 0;
    margin-top: 2px;
    margin-right: 2px;

}

.toggle-box{
    
    margin-top: -40px;
}

.description-box{
    height: 200px;
    width: 200px;
    border-radius: 40px;
}

.flip-card{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 40px;
    perspective: 1000px;
    transition: transform 0.8s;
    backface-visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}

.card-inner{
    text-align: center;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    z-index: 1;
}

.card-front{
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;

}


.card-back{
    z-index: 10;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.flip-transform{
    transform: rotateY(180deg);
}

.tooltip{
    visibility: hidden;
    width: 130px;
    border-radius: 10px;
    position: absolute;
    top: 65px;
    right: -50px;
    background-color: antiquewhite;
    z-index: 10;
    padding: 5px;
    text-align: center;

}
.tooltip-visible{
    visibility: visible;
}
.option-box{
    z-index: 2;
    height: 200px;
    width: 200px;
    border-radius: 40px;
    background-color: #78a1bb;
    text-align: center;
    transition: 0.5s ease-in-out;
    margin: 20px;
    flex: 1;
    background-size: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    
}

.option-box h3{
    text-shadow: 0px 0px 10px white;
    font-size: 40px;
}

.option-box:hover{
    box-shadow: 0px 0px 10px 2px;
    /*transform: scale(1.03);*/
    cursor: pointer;
    
}

.option-box-image{
    position: relative;
      height: 100%;
      width: 100%;
      transition: 0.5s ease-in-out;
  }